body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

#products h2 {
    margin-top: 0;
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-list li {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 1rem;
}

.product-list img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
